.logo {
	max-width: 15em;
	top: 0;
	left: 0;
	position: absolute;
}


.navbar-brand {
	width: 20em;
}

.navbar {
	padding-bottom: 0;
}

.navbar-default {
	background-color: white;
	border: 0;
	border-bottom: 2px solid $brand-primary;
	a {
		color: $black;

		}
		a:focus, a:hover, a:active {
			color: $black;
		}

	.row:before {
		display: inline;
	}

	.navbar-nav {
		background-color: $brand-primary;
		margin-top: 2em;
		li {
			border-top: 1px solid $black;
			a, a:active {
				padding-left: 5em;
			}
			a, a:focus, a:hover, a:active {
				color: $black;
			}
			a:hover {
				background-color: transparentize(white, 0.5);
			}
		}
		.open {
			a, a:focus, a:hover, a:active {
				color: $black;
				background-color: transparentize(white, 0.5);
				
				
			}
		}
		.active {
			a, a:focus, a:hover, a:active {
				color: $black;
				background-color: transparentize(white, 0.5);
			}
		}
		.dropdown-menu {
			li {
				a {
					padding-left: 5em;
					color: $black!important;
					
				}
				a:focus, a:hover, a:active {
					background-color: transparentize(white, 0.5);
				}
			}
			.open {
				a, a:focus, a:hover, a:active {
				color: $black;
				background-color: transparentize(white, 0.5);
				}
			}
			.active {
				a, a:focus, a:hover, a:active {
					color: $black;
					background-color: $brand-primary;
				}
				a {
					background-color: transparentize(white, 0.5)!important;
				}
			}
		}
	}
	.navbar-collapse {
		border-color: $brand-primary;
	}
}
.slick-dots {
	bottom: 80px;
	li {
		button:before {
			color: #777777;
			opacity: 1;
		}
		
	}
	li.slick-active {
		button:before {
			color: white;
			opacity: 1;
		}
	}
}
.slider {
	overflow: hidden!important;
	border-box: content-box;
}
.slide-track {
	overflow: hidden!important;
}
/* Image thumbnail*/
.thumbnail {
	border: 0;
	padding: 0;
	margin-left: 10%;
	margin-right: 10%;
	img {
		margin: 0;
	}
}
