.wrapper {
	margin-left: 2em;
	margin-right: 2em;
}

.thumbnail {
	display: inline-block;
	background-color: white;
	padding: 1em;
}

.container {
    width: 100%;
}

.wrapper-sidebar {
	border-left: 1px solid $brand-primary;
	border-top: none;
	padding-left: 2em;
	margin-right: 2em;
	margin-top: -20px;
}

.blogpost-image {
	img {
		max-height: 400px;
		width: auto;
	}
}