// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         	#F49826;
$black:						#000;

$dropdown-link-hover-bg: 	transparentize(white, 0.5);
$dropdown-link-active-bg:	transparentize(white, 0.5);
$dropdown-link-active-color:black;
$dropdown-bg:				#F49826;
$nav-link-hover-bg: 		#000;
